button {
		margin:10px;
	}

	body {
		background-image: url(../images/nintendo_games_pattern_by_dagneo-d94rp2z.png);
		
	}

	h2 {
		background-color: black; 
		color: white;
		text-align: center;


	}
	#nintendoTabs, #inputName {
		background-color: lightgrey;
	}

	#gifsHere { background-color: black;
		width: 500px;
		color: white;
		text-align: center;
		font-size: 24px;

	}

	#footer{
		background-color: #efefef;
		color: black;
		bottom:1%;
		margin-top: 82px;
	padding: 17px;